{% extends 'base.html' %}

{% block body %}

<div>
    
    {% if user.permission == 'A' %}
    <form method="POST" action="/home/staff/">
    {% csrf_token %}
        <input type="hidden" name="{{staff.0.id}}" value="{{staff.0.id}}"><br>
        <input type='text' name="first_name" value="{{staff.0.first_name}}"><br>
        <input type="text" name="last_name" value="{{staff.0.last_name}}"><br>
        <input type="text" name="permission" value="{{staff.0.permission}}"><br>
        <input type="submit" value="Change">
    </form>
    {% else %}
        <h1>{{staff.0.id}}</h1>
        <h2>{{staff.0.first_name}}<h2>
        <h3>{{staff.0.last_name}}<h3>
    {% endif %}
</div>

{% endblock %}